In [101]:
import pandas as pd
import datetime
from pyhelper import APIhelper
from pyhelper import Finhelper

In [121]:
# Input data:  Historical prices from CoinGecko, Transaction Fees from BigQuery, Top Wallets from BigQuery
# Still Needed:  USD/Other Currency prices, Equity prices/volume/market, Bond prices/volume/market (maybe)

#Dataframes:  eth_hist, trans_costs, wallet


ah = APIhelper()

#params
cur = "USD"
days = 90
interval = "daily"
eth_id = "ethereum"

# - func for reference purposes
#def to_date_time(date):
 #   return datetime.datetime.fromtimestamp(date).strftime("%Y-%m-%d %H:%M:%S")

hist_price_url =f"https://api.coingecko.com/api/v3/coins/{eth_id}/market_chart?vs_currency=usd&days={days}&interval={interval}"

#split columns, re-format date
eth_hist = ah.get(hist_price_url)
eth_hist = pd.DataFrame(eth_hist["prices"].to_list(), columns = ["price_date","price"])
eth_hist["price_date"] = pd.to_datetime(eth_hist["price_date"], unit = 'ms')
eth_hist.head(10)

               price_date       price
0 2020-08-09 20:02:28.946  389.865832
1 2020-08-09 21:01:09.081  391.829394
2 2020-08-09 22:07:02.464  389.394328
3 2020-08-09 23:03:12.026  389.083994
4 2020-08-10 00:07:04.612  390.758907
5 2020-08-10 01:01:49.650  391.376343
6 2020-08-10 02:01:06.004  394.357278
7 2020-08-10 03:05:15.241  395.942513
8 2020-08-10 03:09:35.556  396.632260
9 2020-08-10 04:07:46.502  398.266918

In [68]:
fh = Finhelper()
trans_costs = fh.load_and_clean("eth_transaction_costs_current_year.csv")
trans_costs.sort_index(inplace = True)
trans_costs.head()

                     transaction_fees
transaction_date
2020-01-02 00:00:00         10.340226
2020-01-02 01:00:00         12.042372
2020-01-02 02:00:00         16.011142
2020-01-02 03:00:00         17.675051
2020-01-02 04:00:00         14.557773

In [36]:
wallets = fh.load_and_clean("top_wallets_by_value_sent_current_year.csv")
wallets.head()

                                            eth_value_sent
to_address
0x7a250d5630b4cf539739df2c5dacb4c659f2488d    4.841474e+07
0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be    4.418743e+07
0xa7efae728d2936e78bda97dc267687568dd593f3    1.319009e+07
0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2    1.083225e+07
0xd551234ae421e3bcba99a0da6d736074f22192ff    9.631243e+06